.barras div{
  background-color: rgba(0, 128, 0, .2);
  border: solid 2px rgba(0, 128, 0, 1);
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: $color-one;
}

.barras-2{
  &__text{
    color: $color-one;
  }
}