
.header{
  position: relative;
  z-index: 900;
}
.nav{
  display: flex;
  position: fixed;
  background-color: $color-two;
  width: rem(1200);
  @include display(mobile){
    display: none;
  }
  &--dark{
    background-color: $color-one;
  }
  &__item{
    list-style: none;
    padding: 1rem 0;
  }
  &__link{
    color: white;
    text-decoration: none;
    padding: 1rem;
    &:hover{
      color: turquoise;
    }
    &--dark{
      color: $color-one;
    }
    &--light{
      color: white;
    }
  }
}
.menu-mobile{
  display: none;
  cursor: pointer;
  @include display(mobile){
    display: block;
  }
  &__title{
    @include display(mobile){
      color: white;
      background-color: $color-one;
      padding: 1rem;
    }
  }
}
.menu-mobile-show{
  cursor: pointer;
  .nav{
    @include display(mobile){
      display: block;
      flex-direction: column;
      position: inherit;
      height: 100vh;
      &__item:first-child{
        padding-top: 4rem;
      }
    }
  }
  .menu-mobile{
    @include display(mobile){
      display: block;
      position: fixed;
    }
  }
}